body{
    font-family: Courier New;
}
.posts{
    width:100vw;
}
.lbutton{
    border-style:none;
    padding:1vw;
    background: black;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.lbutton:hover{
    border-style:none;
    padding:1vw;
    background: #1f1f1f;
    color:white;
    text-decoration: none;
}
.footer{
    position:fixed;
    bottom:0px;
    left: 0px;
    width:100vw;
    background:black;
    color:white;
    padding:1vw;
    }
    input{
        font-family: Courier New;
    }